<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="KeyFileLocation" value="c:/temp/keyfile.txt" />
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}/logs/log.txt"  maxArchiveFiles="10"
							archiveFileName="${basedir}/logs/log.{#####}.txt" archiveAboveSize="10000000" archiveNumbering="Sequence"
							concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
			<layout xsi:type="CSVLayout">
				<column name="time" layout="${longdate}" />
				<column name="level" layout="${level}" />
				<column name="logger" layout="${logger}" />
				<column name="machinename" layout="${machinename}" />
				<column name="message" layout="${message}" />
			</layout>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>
